@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-500', sans-serif;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(../fonts/Oswald-Medium.ttf);
}

body {
    background-color: #f5f5f5;
}

.header-container {
    max-width: 1340px;
    width: 90%;
    margin: 0 auto;

}

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;

}

.ul-product li {
    display: inline-block;
}

.ul-product a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 15px;
    font-size: 18px;
}

.ul-product {
    margin-top: 30px;
    margin-bottom: 50px;
}

.ul-product a:hover {
    text-decoration: 1px underline;
    color: #0052CC;
}

.first-header {
    text-align: center;
    padding: 21px 0 50px 0;
}

.first-header-li.left {
    margin-right: 285px;
    font-size: 24px;
    line-height: 36px;
    font-family: "oswald-500", sans-serif;
    font-weight: bold;
}

.logo-shop_side {
    color: #3F69FF;
}

.icon-1 {
    margin-left: 80px;
}

.icon-2 {
    margin-left: 20px;
}

.blue-line {
    max-width: 1340px;
    width: 90%;
}

.header-line {
    background-color: #0052CC;
    border-radius: 0px;
}

.categories-menu-div {
    margin-left: 100px;
}

.categories-menu-div,
.header-line input {
    display: inline-block;
    vertical-align: middle;
}

.categories-menu-title {
    font-family: "poppins-400", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
}

.categories-menu-div {
    margin: 15px 12px 12px 116px;
}

.input-div {
    display: inline-block;
    margin-left: 360px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

.input-div div {
    display: inline-block;
    vertical-align: middle;
}

.header-line input {
    width: 389px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
}

.header-line input:focus {
    border-color: #FFFFFF;
}

.home-title {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins-500', sans-serif;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 80px;
}

.phone-box {
    margin-bottom: 234px;
}

.phone-card-wrapper {
    width: 260px;
    display: inline-block;
    margin-left: 40px;
}

.phone-card-top {
    height: 345px;
    padding: 12px 54px;
    box-shadow: 0px 2px 6px rgba(161, 161, 161, 0.25);
    border-radius: 6px;
}

.phone-card-img {
    width: 152px;
    height: 315px;
    transition: all 1s;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.phone-card-img.first {
    background-image: url("../images/phones/galaxy-a32.png");
}

.phone-card-img.first:hover {
    background-image: url("../images/phones/galaxy-a32-hover.png");
    transition: all 1s;
}

.phone-card-img.second {
    background-image: url("../images/phones/ipone-8plus.png");
}

.phone-card-img.second:hover {
    background-image: url("../images/phones/iphone-8plus-hover.png");
    transition: all 1s;
}

.phone-card-img.third {
    background-image: url("../images/phones/iphone-10.png");
}

.phone-card-img.third:hover {
    background-image: url("../images/phones/iphone-10-hover.png");
    transition: all 1s;
}

.phone-card-img.fourth {
    background-image: url("../images/phones/galaxy-s9.png");
}

.phone-card-img.fourth:hover {
    background-image: url("../images/phones/galaxy-9s-hover.png");
    transition: all 1s;
}

.phone-card-bottom-information {
    margin-top: 20px;
}

.phone-name {
    font-size: 16px;
    line-height: 24px;
    font-family: "poppins-600", sans-serif;
}

.phone-price {
    margin-left: 87px;
}

.phone-price.previous {
    margin-left: 20px;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: line-through;
    font-family: "poppins-400", sans-serif;
    color: #BD6161;
}

.phone-price.current {
    margin-left: 13px;
}

.border {
    border: 1px solid #3F69FF;
    margin: 14px 0;
}

.upload-date {
    font-size: 12px;
    color: #6A6A6A;
    font-family: "poppins-400", sans-serif;
}

.see-more {
    margin-left: 102px;
    font-size: 12px;
    font-family: "poppins-500", sans-serif;
}

.about-section {
    text-align: center;
}

.about-us-main-title {
    font-size: 26px;
    margin-top: 49px;
    color: #3F69FF;
    font-family: "poppins-500", sans-serif;
    text-align: center;
}

.about-us-top-wrapper {
    margin: 30px 0 74px;
}

.about-us-info {
    width: 817px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 200px;
}

.about-us-info p {
    font-size: 16px;
    line-height: 24px;
    font-family: "poppins-400", sans-serif;
    text-align: left;
}

.first {
    margin-bottom: 30px;
}

.about-us-info span {
    font-family: "poppins-700", sans-serif;
    font-weight: bold;
}

.about-us-top-wrapper-img {
    display: inline-block;
    vertical-align: text-top;
}

.about-us-second-text {
    width: 1223px;
    margin: 30px auto 74px auto;
    font-size: 16px;
    line-height: 24px;
    font-family: "poppins-400", sans-serif;
}

.about-us-bottom-info {
    margin: 56px 0 233px;
}

.about-us-bottom-info li {
    display: inline-block;
    margin: 0 100px;
}

.about-us-bottom-info p {
    font-size: 20px;
    line-height: 30px;
    font-family: "poppins-600", sans-serif;
    font-style: italic;
    margin-top: 20px;
    font-weight: bold;
}

.blog-main-title {
    margin: 41px 0 24px 0;
    font-size: 50px;
    line-height: 75px;
    font-family: "poppins-600", sans-serif;
    font-weight: bold;
}

.blog-top-info {
    display: inline-block;
    vertical-align: text-top;
}

.blog-top-info-title {
    width: 615px;
    font-size: 36px;
    line-height: 54px;
    font-style: italic;
    font-weight: bold;
    font-family: "poppins-600", sans-serif;
}

.blog-top-info-text {
    width: 579px;
    font-size: 20px;
    line-height: 30px;
    font-family: "poppins-400", sans-serif;
}

.blog-top-info.content {
    margin-left: 25px;
}

.blog-bottom-info {
    margin: 103px 0 51px 0;
}

.blog-news {
    width: 272px;
    display: inline-block;
    vertical-align: top;
}

.blog-news-text-title {
    margin: 14px 0 10px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    font-family: "poppins-500", sans-serif;
}

.blog-news-text-content {
    font-size: 10px;
    line-height: 15px;
    font-family: "poppins-400", sans-serif;
}

.blog-news.second {
    margin: 0 35px 0 35px;
}

.blog-news.third {
    margin: 0 35px 0 0;
}

.container .contact-us-main-title h1 {
    font-family: "poppins-400", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    margin: 65px 0 10px 20px;
}

.container .contact-us-main-title p {
    font-family: "poppins-400", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.72);
    margin: 0 0 25px 20px;
}

.contact-us-info {
    display: flex;
}

.contact-us-form-top.flex,
.contact-us-form-bottom.flex {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.contact-us-form-top input {
    width: 264px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact-us-form-bottom input {
    width: 581px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea {
    width: 582px;
    height: 133px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

label {
    font-size: 16px;
    line-height: 24px;
    font-family: "poppins-500", sans-serif;
}

.contact-us-form-bottom input.submit {
    width: 209px;
    margin-left: 15%;
    background: #3F69FF;
    border-radius: 6px;
    cursor: pointer;
    font-family: "poppins-500", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.contact-us-wrapper {
    margin-bottom: 195px;
}

.contact-us-map {
    text-align: right;
    margin-top: -540px;
}

iframe {
    border-radius: 6px;
}

footer {
    background-color: #0052CC;
}

.footer-box {
    height: 249px;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.footer-box li {
    line-height: 24px;
    color: #FFFFFF;
}

.footer-style {
    padding-top: 13px;
    padding-bottom: 13px;
}

.footer-wrapper {
    display: inline-block;
    margin-top: 44px;
    margin-left: 70px;
    color: #FFFFFF;
}

.footer-wrapper p {
    font-size: 24px;
    line-height: 35px;
    cursor: pointer;
}

.footer-information {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 130px;
}
.footer-box a{
    cursor: pointer;
}
.apps li img{
    cursor: pointer
}

.footer-information-1 {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-information-2 {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 130px;
}

.footer-information-3 {
    display: inline-block;
    vertical-align: text-top;
}

.footer-information-3 p {
    font-size: 12px;
    line-height: 18px;
    width: 235px;
    color: #FFFFFF;
}

.footer-information-3 input {
    height: 40px;
    border-radius: 6px;
}

.apps {
    padding-left: 40px;
}

.apps li {
    display: inline-block;
    padding-top: 50px;
}

.linkedin {
    padding-left: 17px;
    padding-right: 17px;
}